/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "ヒラギノ丸ゴ ProN";
  }

  header {
    background-color: #ee4300;
    box-shadow: 0 10px 25px 0 rgba(65, 24, 0, 0.5);
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
  }

  header a {
    color: white; 
    text-decoration: none; 
  }

  .header-title {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  header p {
    font-family: "ヒラギノ丸ゴ ProN";
    font-size: 80%;
    color: white;
    margin-left: 20px;
}

  header h1 {
    font-weight: bold;
    font-family: "ヒラギノ丸ゴ ProN";
    color: white;
    margin-left: 20px;
  }
  
  
  ul {
    list-style: none;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  ul a:hover {
    color: #ffe608;
  }

  /* ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
  } */
  
  
main {
  padding-top: 150px;
}

  footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #501801;
    font-size: 15px;
    color: #fff;
  }
  
#hamburg {
  width: 140px;
  justify-content: flex-end;
  border: #fff;
}

#hamburg:hover {
  color: #ffe608;
}
  /*inputタグのチェックボックス非表示*/

#input{
	display: none;
  margin: 20px;
  width: 35px;
}



/*3本線を作る*/

.line1,.line2,.line3{
	width: 50px;
	height: 7px;
  border-radius: 10%;
	background-color: rgb(255, 255, 255);
	margin: 7px;
}



/*メニューのデザイン*/

#content{
	background-color: #ee430077;
	width: 100px;
	height: 150%;
	transform: translateX(5000px); /*左側の奥の奥に埋めておく*/
}

/*チェックが入ったら見せる*/

#input:checked ~ #content{
	transform: translatex(0px); /*通常値に戻す*/
}

